---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import TrustBar from "../components/TrustBar.astro";
import Features from "../components/Features.astro";
import EditorShowcase from "../components/EditorShowcase.astro";
import Themes from "../components/Themes.astro";
import PowerFeatures from "../components/PowerFeatures.astro";
import AIShowcase from "../components/AIShowcase.astro";
import Stats from "../components/Stats.astro";
import Download from "../components/Download.astro";
import OpenSource from "../components/OpenSource.astro";
import Faq from "../components/Faq.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <TrustBar />
    <Features />
    <EditorShowcase />
    <Themes />
    <PowerFeatures />
    <AIShowcase />
    <Stats />
    <Download />
    <OpenSource />
    <Faq />
  </main>
  <Footer />
</Base>
